# Ignore possible build & documentation
docs/_build/
build/
pyrk\.egg-info/
dist/
RELEASE\-VERSION
pyrk/RELEASE\-VERSION
# Ignore temp files
__pycache__/
*.py[cod]
*.save
*.bak
.*.swp
*~
*.o
*.mod
*.so

# Ignore data &binary files
*.h5
*.ace

# Ignore specific files
matplotlibrc
.ipynb_checkpoints

# Ignore rope files introduced by python-mode
.ropeproject

*.pdf
*.eps
*.png

.DS_Store

# Ignore cluster files
*.out
*.log
*.serr
*.err
*.sub

# Ignore mergetool temp file
*.orig


# Ignore info files
pyrk.egg-info/dependency_links.txt
pyrk.egg-info/top_level.txt
pyrk.egg-info/SOURCES.txt
pyrk.egg-info/requires.txt
pyrk.egg-info/PKG-INFO
